.topbar {

    background-color: #EEEBEC;

    padding: 30px 50px;

    .container-fluid {

        width: 960px;

        display: flex;

        justify-content: space-between;

        align-items: center;

        .logo {

            transform: translate(0, -7.5px);
        }

        .nav-list {

            display: inline-block;

            margin: 0;

            li {

                display: inline-block;

                list-style: none;

                margin-right: 40px;

                padding: 15px;

                text-transform: uppercase;

                &:last-child {

                    margin-right: 0;
                }

                a {

                    text-decoration: none;

                    color: #7a6666;
                }
            }

        }
    }

}