.topbar

    .container-fluid

        img(src="images/logo.png", alt="Freeze Logo", class="logo")

        ul.nav-list

            li
                a(href="Home.html") Home
            li About
            li Blog
            li Contacts